<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}I'M NOT HUNGRY!{{else}}I'M STARVED!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>