<li>
	<button class="change-devoured btn-dark btn-lg" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}{{burger_name}}{{else}}{{burger_name}}{{/if}}
	</button>

	<button class="delete-burger btn-outline-dark btn-sm bg-warning" data-id="{{this.id}}">DELETE!</button>
	<br>
	<br>
</li>